<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancel_delegate.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,314},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>chat_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{77,47}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{77,47}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>chat_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,287}}</string>
                <key>sourceSize</key>
                <string>{558,287}</string>
            </dict>
            <key>chat_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,69},{291,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,102}}</string>
                <key>sourceSize</key>
                <string>{291,102}</string>
            </dict>
            <key>chat_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{558,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,56}}</string>
                <key>sourceSize</key>
                <string>{558,56}</string>
            </dict>
            <key>chat_text_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{437,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,65}}</string>
                <key>sourceSize</key>
                <string>{437,65}</string>
            </dict>
            <key>chat_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,173},{248,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,139}}</string>
                <key>sourceSize</key>
                <string>{248,139}</string>
            </dict>
            <key>chat_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,69},{248,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,139}}</string>
                <key>sourceSize</key>
                <string>{248,139}</string>
            </dict>
            <key>chatrecord1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,349},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>chatrecord2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,409},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>delegate.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,390},{77,39}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{77,39}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>delegate_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,465},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,414},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e10.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,395},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,419},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e12.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,370},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e13.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,543},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e14.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,543},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e15.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,597},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e16.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,349},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e17.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,455},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e18.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,585},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e19.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,409},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,439},{42,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e20.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,411},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e21.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,549},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e22.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,531},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e23.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,493},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e24.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,543},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e25.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,503},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e26.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,509},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e27.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,501},{40,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e28.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,491},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e29.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,509},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,414},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e30.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,499},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e31.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,489},{40,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e32.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,449},{40,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e33.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,499},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e34.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,541},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e35.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,456},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e36.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,505},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e37.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,499},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e38.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,498},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e39.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,496},{34,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,445},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e40.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,528},{42,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e41.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,568},{40,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e42.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,458},{40,36}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{40,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,44},{18,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{18,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e44.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,530},{36,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e45.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,86},{38,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{38,24}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e46.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,482},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e47.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,537},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e48.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,532},{36,36}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{36,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e49.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,528},{28,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e5.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,405},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e50.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,461},{44,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e51.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,465},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e52.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,543},{40,38}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{18,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{18,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e54.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,219},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e55.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,405},{36,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e56.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,494},{34,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e57.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,458},{40,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e58.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,461},{36,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e59.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,456},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,461},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e60.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,399},{42,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e61.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,365},{44,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e62.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,457},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e63.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,436},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e64.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,319},{44,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e65.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,461},{36,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e66.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,449},{38,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e67.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,309},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e68.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,501},{38,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e69.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,570},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e7.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,370},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e70.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,591},{40,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e71.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,265},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e72.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,414},{42,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e73.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,353},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e74.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,390},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e75.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,173},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e76.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,483},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e77.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,521},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{38,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e78.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,414},{42,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e79.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,498},{36,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{36,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e8.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,370},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e80.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,549},{40,40}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>e9.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,370},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>expression1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,405},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>expression2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,349},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>expression_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{558,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,56}}</string>
                <key>sourceSize</key>
                <string>{558,56}</string>
            </dict>
            <key>phrase1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,314},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>phrase2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,349},{68,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>quit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,431},{68,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>scrollbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,126},{16,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,45}}</string>
                <key>sourceSize</key>
                <string>{16,45}</string>
            </dict>
            <key>send.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,319},{131,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,69}}</string>
                <key>sourceSize</key>
                <string>{131,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2361010bd801cf93ba3a32b86369abf6$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
