<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_l.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,953},{36,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,18},{36,34}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>arrow_r.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,984},{36,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,18},{36,34}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>input.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,667},{329,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,41}}</string>
			<key>sourceSize</key>
			<string>{329,41}</string>
		</dict>
		<key>return.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,924},{95,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,103}}</string>
			<key>sourceSize</key>
			<string>{95,103}</string>
		</dict>
		<key>set_checkbox.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,984},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>set_checkbox_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,984},{38,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,39}}</string>
			<key>sourceSize</key>
			<string>{38,39}</string>
		</dict>
		<key>show_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,335},{109,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,330}}</string>
			<key>sourceSize</key>
			<string>{109,330}</string>
		</dict>
		<key>show_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,643},{111,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,308}}</string>
			<key>sourceSize</key>
			<string>{111,308}</string>
		</dict>
		<key>show_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,335},{113,324}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,324}}</string>
			<key>sourceSize</key>
			<string>{113,324}</string>
		</dict>
		<key>show_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,2},{137,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,308}}</string>
			<key>sourceSize</key>
			<string>{137,308}</string>
		</dict>
		<key>show_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,2},{86,311}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,311}}</string>
			<key>sourceSize</key>
			<string>{86,311}</string>
		</dict>
		<key>show_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,312},{109,305}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,305}}</string>
			<key>sourceSize</key>
			<string>{109,305}</string>
		</dict>
		<key>show_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,619},{181,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,303}}</string>
			<key>sourceSize</key>
			<string>{181,303}</string>
		</dict>
		<key>show_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{110,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,323}}</string>
			<key>sourceSize</key>
			<string>{110,323}</string>
		</dict>
		<key>show_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,327},{102,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,314}}</string>
			<key>sourceSize</key>
			<string>{102,314}</string>
		</dict>
		<key>show_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,667},{129,328}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,328}}</string>
			<key>sourceSize</key>
			<string>{129,328}</string>
		</dict>
		<key>show_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{126,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,331}}</string>
			<key>sourceSize</key>
			<string>{126,331}</string>
		</dict>
		<key>show_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,661},{107,321}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,321}}</string>
			<key>sourceSize</key>
			<string>{107,321}</string>
		</dict>
		<key>update.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,924},{95,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,103}}</string>
			<key>sourceSize</key>
			<string>{95,103}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>personset.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8c9865c129b503b9c887c1298c3be130$</string>
		<key>textureFileName</key>
		<string>personset.png</string>
	</dict>
</dict>
</plist>
